# Node
node_modules
npm-debug.log

lib-cov

# Ignored Extensions
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.diff
*.swp
*.rej

# IDEs
.cache
.project
.settings
.idea

pids
logs
results

#local config
config/runtime.json
config/production.json
