
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.sidebar-nav {
    padding: 9px 0;
}

.raffles div {
	background-color: #cde6ff;
}

.raffles div button {
    float:right;
}

.raffles div.select-raffle {
    background-color: #ffcdcd;
}