<div class="span6">
    <div class="panel raffle well">
        <div class="panel-heading">
            <h3 class="panel-title">Create a new raffle</h3>
        </div>
        <div class="panel-body">
            <form class="form-inline">
                <input type="text"  ng-model="raffle.name" placeholder="Enter raffle name">
                <button id="create_button" class="btn" ng-click="createRaffle()">Create</button>
            </form>
        </div>
    </div>
</div><!--/span-->
<div class="span6">
    <div class="panel raffle well">
        <div class="panel-heading">
            <h3 class="panel-title">Current list of raffles</h3>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li ng-repeat="raffle in raffles" class="list-group-item">
                    {{raffle.name}} <button class="btn btn-mini btn-close" ng-click="deleteRaffle(raffle)"><i class="icon-remove"></i></button>
                </li>

            </ul>
        </div>
    </div>
</div><!--/span-->



