
<div class="span3">
</div><!--/span-->
<div class="span6">
    <div ng-class="raffle.isSelectedClass"  ng-repeat="raffle in raffles">

        <div class="raffle well">

            <div class="raffle-block">
                <div class="raffle-left">
                    Raffle: <span class="raffle-name">{{raffle.name}}<span>
                </div>
            </div>
            <div class="raffle-block">
                <div class="raffle-left">
                    Tickets:
                </div>
                <div class="raffle-left">
                    <span class="badge badge-info">{{raffle.participants.length}}</span>
                </div>
            </div>
            <div class="raffle-block">
                <div class="raffle-left" ng-repeat="participant in raffle.participants">
                    <span class="label ticket">{{participant.name}}</span>
                </div>
            </div>
            <div class="raffle-block">
                <div class="raffle-left">
                    <input class="input-small raffle-input" type="text" ng-model="userName" placeholder="Ticket Name">
                </div>
                <div class="raffle-left">
                    <button class="btn btn-small" ng-click="createTicket(userName, raffle._id, $index); userName=''">Add</button>
                </div>
            </div>
            <div class="raffle-block">
                <button class="btn btn-small" ng-click="drawWinners(raffle)">Draw Winners</button>
            </div>
            <div class="raffle-block">
                <div class="raffle-winner" ng-repeat="winner in raffle.winners">
                    {{$index + 1}}: <span class="label label-warning">{{winner}}</span>
                </div>
            </div>

        </div>
    </div>
</div> <!--/span-->
