<div>
<md-toolbar layout="row">
  <div class="md-toolbar-tools md-default-theme">
    <h1>Raffle Application</h1>
  </div>
</md-toolbar>

<div>
  <md-content flex class="md-padding" layout="column">
    <!--<button class="btn btn-mini btn-close" ng-click="deleteRaffle(raffle)"><i class="icon-remove"></i></button><br/>-->
    <md-card>
      <md-card-content layout-gt-sm="row" layout-sm="column" layout-align="center center">
        <h1 class="md-title">Create new Raffle</h1>
        <section class="md-padding">
        <md-input-container>
          <label>Raffle Name</label>
          <input ng-model="raffle.name" type="text">
        </md-input-container>
      </section>
        <md-button class="md-raised" ng-click="createRaffle()">Create</md-button>
      </md-card-content>
    </md-card>
    <md-card ng-repeat="raffle in raffles">
      <md-card-content layout="column">
        <h1 class="md-display-1">{{raffle.name}}</h1>
        <div layout-gt-sm="row" layout-sm="column" layout-align-sm="center center">
          <md-input-container>
            <label>Your Name</label>
            <input ng-model="userName" type="text">
          </md-input-container>
          <section>
          <md-button class="md-raised md-primary" ng-click="createTicket(userName, raffle._id, $index); userName=''">Enter</md-button>
        </section>
        </div>
        <md-chips ng-model="raffle.participants" readonly="true"></md-chips>
      </md-card-content>
      <section flex class="md-padding" layout="row" layout-align="end center">
        {{raffle.participants.length}} Entries
        <md-button class="md-raised md-warn" ng-click="drawWinners(raffle)">Draw Winners</md-button>
      </section>
      <section flex class="md-padding" layout="column" ng-show="raffle.winners">
        <md-divider></md-divider>
        <h3>Winners</h3>
        <ol>
          <li ng-repeat="winner in raffle.winners" class="md-subhead">{{winner}}</li>
        </ol>
      </section>
    </md-card>
    <md-card>
      <md-card-content>
          <p>&copy; GDG Sacramento 2013-2015</p>
      </md-card-content>
    </md-card>
  </md-content>
</div>
</div>
